* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PixelFont;
    src: url('/fonts/pixel_font.TTF') format('truetype');
  }

  .score {
    position: fixed;
    top: 50px;
    left: 50px;
    font-family: PixelFont, sans-serif;
    font-size: 30px;
    color: white;
  }

  .lastScore {
    position: fixed;
    top: 100px;
    left: 50px;
    font-family: PixelFont, sans-serif;
    font-size: 30px;
    color: white;
  }

/* ------------------- GAME BOARD ------------------- */

.game-board {
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da viewport */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    animation: none;
}

.game-board.active {
    animation: game-board-animation 20s infinite linear; 
}

/* ------------------- PIPE ------------------- */

.pipe {
    position: absolute;
    bottom: 40px;
    width: 60px;
    width: 70px;
    animation: none;
    right: 180px;

}

.game-board.active .pipe {
    animation: pipe-animation 1.5s infinite linear; 
}

/* ------------------- MARIO ------------------- */

.mario {
    width: 80px;
    position: absolute;
    bottom: 40px;
}

.game-board.active .mario {
    animation: none;
}

.game-board.active .mario.jump {
    animation: jump 700ms ease-out;
}

/* ------------------- CENARIO ------------------- */

.clouds {
    width: 350px;
    position: absolute;
    top: 50px;
    right: 150px;
    animation: none;
}

.bush {
    position: absolute;
    bottom: 40px;
    animation: none;
}

.grass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: url('images/grass.png') repeat-x;
}

.montain {
    position: absolute;
    bottom: 40px;
    animation: none;
}

.game-board.active .montain {
    animation: montain-animation 7s infinite linear;
} 

.game-board.active .clouds {
    animation: cloud-animation 20s infinite linear;
} 

.game-board.active .bush {
    animation: bush-animation 3s infinite linear;
}

.game-board.active .grass {
    animation: grass-animation 1.5s infinite linear;
}

/* ------------------- MENU ------------------- */

.start-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-container {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
}
  
#logo {
    width: 200px;
    height: auto;
}
  

#startButton {
    width: 200px;
}

/* ------------------- ANIMATION ------------------- */

@keyframes pipe-animation {
    from {
        right: -80px;
    } to {
        right: 100%;
    }
}

@keyframes cloud-animation {
    from {
        right: -350px;
    } to {
        right: 100%;
    }
}

@keyframes bush-animation {
    from {
        right: -350px;
    } to {
        right: 100%;
    }
}

@keyframes montain-animation {
    from {
        right: -450px;
    } to {
        right: 100%;
    }
}


@keyframes grass-animation {
    from {
        right: 0px;
    } to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 40px;
    }

    40% {
        bottom: 160px;
    }

    50% {
       bottom: 160px;
    }

    100% {
        bottom: 40px;
     }

}